.metrics-grid {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 60px;
  margin-inline: auto;
  width: clamp(270px, 60vw, 500px);
  background-color: var(--orange-95);
  border: 2px solid var(--grey-15);
  box-shadow: 5px 5px var(--orange-80);
  border-radius: 8px;
}

.metric-item {
  position: relative;
  display: block;
  padding-block: 0.8rem;
}

.metric-value {
  font-size: 4.2rem;
  font-weight: 600;
  color: var(--grey-15);
}

.metric-label {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 0.5rem;
  margin-left: 0%;
  color: var(--grey-15);
}
@media (width<768px) {
  .metric-item:not(:first-child) {
    border-top: 2px solid var(--grey-15);
  }
}
@media (width >= 768px) {
  .metrics-grid {
    margin-inline: auto;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    width: clamp(600px, 70vw, 1100px);
  }
  .metric-item {
    padding: 1rem 1.2rem;
  }
}
