.services-grid-container {
  display: grid;
  margin-inline: 10vw;
  margin-top: 5vh;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));     */
  grid-template-columns: repeat(4, 1fr);
  max-width: 2000px;
}
@media (width <= 1024px) {
  .services-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (width <= 768px) {
  .services-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.service-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* width: 20vw; */
  /* max-width: 20vw; */
  aspect-ratio: 3/4;
  overflow: hidden;
}
.service-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  inset: 0;
  z-index: 0;
}
.service-overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.15);
  transform: translateY(0%);
  transition: transform 0.4s ease-in-out;
  will-change: transform;
}
.service-card:hover .service-overlay::after {
  transform: translateY(-100%);
  transition: transform 0.4s ease-in-out;
}
.service-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: rgb(254, 253, 248);
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  margin-inline: auto;
  width: 85%;
  height: 40%;
  max-height: 165px;
  margin-bottom: 5%;
  margin-inline: auto;
  padding: 2%;
  z-index: 1;
  overflow: hidden;
}
.top-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3%;
}
.top-info h3 {
  margin: 0;
}
.arrow-icon {
  width: 2.5rem;
  height: 2.5rem;
  transform: rotate(0deg);
  transition: transform 0.4s ease-in-out;
  will-change: transform;
}
.service-card:hover .arrow-icon {
  transform: rotate(45deg);
  transition: transform 0.4s ease-in-out;
}
.service-link p {
  margin: 0;
  padding-top: 6%;
}
@media (width<768px) {
  .service-card {
    aspect-ratio: 1/1;
  }
  .service-link {
    margin: auto;
    height: 85%;
    max-height: none;
  }
  .service-link p {
    display: none;
  }
}
