.services-grid-container {
  display: grid;
  margin-inline: 10vw;
  margin-top: 40px;
  grid-template-columns: repeat(4, 1fr);
  max-width: 2000px;
  border-radius: 8px;
  overflow: hidden;
  /* gap:10px; */
}
.service-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  aspect-ratio: 3/4;
  overflow: hidden;
}
.service-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  inset: 0;
  z-index: 0;
}

.top-info {
  display: inline-block;
  text-decoration: none;
  color: var(--absolute-white);
  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(4px);
  border-radius: 5px;
  margin-inline: auto;
  width: 90%;
  height: max-content;
  margin-bottom: 4%;
  margin-inline: auto;
  padding: 2%;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-info h3 {
  margin: 0;
}
.arrow-icon {
  width: 2.5rem;
  height: 2.5rem;
  transform: rotate(0deg);
  transition: transform 0.4s ease-in-out;
  will-change: transform;
}
.service-card:hover .arrow-icon {
  transform: rotate(45deg);
  transition: transform 0.4s ease-in-out;
}

@media (width <= 1024px) {
  .services-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (width <= 768px) {
  .services-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
