#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 997;
  background-color: var(--orange-97);
  padding-top: 7.5px;
}
.cta-banner {
  background-color: var(--orange-90);
  color: var(--grey-15);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--grey-15);
  height: auto;
  border-radius: 13px;
  margin-bottom: 7px;
  margin-inline: 10px;
  padding: 1.1vw;
  transition: background-color 0.3s ease-in-out;
}
.cta-banner:hover {
  background-color: var(--orange-80);
}
.cta-banner p {
  margin: 0;
  font-weight: 450;
}
.navbar {
  background-color: var(--absolute-white);
  border: 2px solid var(--grey-15);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 62px;
  margin-inline: 10px;
  overflow: hidden;
}
.logo {
  height: 100%;
  width: max-content;
}
.logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey-15);
  background-color: var(--orange-65);
  border-right: 2px solid var(--grey-15);
  width: 100%;
  height: 100%;
  padding-inline: 4%;
  gap: 5px;
}
.logo img {
  height: 90%;
}
.logo span {
  font-weight: 480;
  font-size: 1.3rem;
}
.hamburger {
  height: 100%;
  display: none;
  border-left: 2px solid var(--grey-15);
  padding-inline: 7px;
  background-color: var(--orange-95);
}
.hamburger svg {
  height: 70%;
}
.front-nav {
  height: 100%;
}
.nav-links {
  display: flex;
  list-style: none;
  height: 100%;
  margin: 0%;
}
.nav-links li {
  border-left: 2px solid var(--grey-15);
}
.nav-links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 100%;
  color: var(--grey-15);
  padding-inline: 1vw;
  font-size: 1rem;
  font-weight: 490;
}
.nav-links li:last-child {
  background-color: var(--orange-75);
}
#side-nav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--orange-95);
  height: 100vh;
  width: 250px;
  transform: translateX(100%);
  z-index: 999;
  transition: transform 0.3s ease-in-out;
  font-size: 1.2rem;
  padding-inline: 10px;
}
#side-nav.side-nav-open {
  transform: translateX(0);
}
.sidebar {
  list-style: none;
  margin: 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.sidebar li {
  height: fit-content;
}
.sidebar li:not(:first-child) {
  margin-block: 15px;
}
.sidebar a {
  color: var(--grey-15);
}
.close-slidebar-icon {
  height: 3rem;
}
.link-active {
  background-color: var(--orange-95);
}
.link-inactive {
  background-color: var(--absolute-white);
}

@media (width<768px) {
  .front-nav {
    display: none;
  }
  #side-nav {
    display: block;
  }
  .hamburger {
    display: flex;
    align-items: center;
  }
  html.prevent-scroll,
  .sidebar-overlay {
    overflow: hidden;
  }

  .sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(0.4px);
    -webkit-backdrop-filter: blur(0.4px);
    z-index: 998;
    opacity: 0;
    visibility: hidden; /* Start hidden to prevent interactions */
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  .sidebar-overlay {
    opacity: 1;
    visibility: visible;
  }
}

@media (width>=1024px) {
  .cta-banner {
    padding: 10px;
  }
}
